body {
    border: 0;
    margin: 0;
    padding: 0;
}
.nav li {
    padding: .1em;
    display: inline;
    border: solid;
}
.nav{
    margin: 0;
    padding: 0;
    border: 0;
}
form {
    display: none;
    margin-top:1em;
    margin-left: 5em;
}

#postEdit {
    display: none;
}

#showPosts div{
    background: red;
    width: 18%;
    margin: 1%;
    display: inline-block;
}