body {
    background-color: rgb(165, 197, 20);
    border: 0;
    margin: 0;
    padding: 0;
}
.nav li {
    margin:0;
    background-color: blue;
    padding-right: .1em; 
    display: inline;
    border: solid;
}
.nav{
    width: auto;
    align: center;
    margin: 0;
    padding: 0;
    border: 0;
}
form {
    display: none;
    margin-top:1em;
    margin-left: 5em;
}

.comments{
    background: red;
    margin: 0px auto;
    float: left;
    display: table-cell;
    vertical-align: center;
    margin-right: 25px;
}

#postEdit {
    display: none;
}

#showPosts {
    width: 100%;
    height: 200px;
    display: table-cell;
    vertical-align: center;
}

#showPosts div{
    background: red;
    margin: 0px auto;
    float: left;
    display: table-cell;
    vertical-align: center;
    margin-right: 25px;
    margin-top: 1%;
}